<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Ucenter接口" verbose="1">
    <!-- 测试数据存放地址 -->
    <parameter name="mysql_url" value="jdbc:mysql://127.0.0.1:3306/uc?useSSL=true&amp;characterEncoding=UTF-8" />
    <parameter name="mysql_user" value="root" />
    <parameter name="mysql_pwd" value="123123" />

    <test name="导入数据">
        <classes>
            <class name="net.faxuan.UcenterTest" />
        </classes>
    </test>
</suite>
